{% extends 'base.html'  %} 
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/new-age.css' %}">
    <link rel="stylesheet" href="{% static 'css/new-age.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    
{% block content %}

<!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Ecommerce</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'index.html' %}">Home</a>
          </li>
            {% if user.is_authenticated %}
                        <li class="nav-item">
                        <li><a class="nav-link js-scroll-trigger" href="{% url 'profile' %}">Profile</a></li>
                        </li>
                        <li class="nav-item">
                        <li><a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Log Out</a></li>
                        </li>
                    {%  else %}
                        <li class="nav-item">
                        <li><a class="nav-link js-scroll-trigger"href="{% url 'register' %}">Register</a></li>
                        </li>
                        <li class="nav-item">
                        <li><a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Log In</a></li>
                        </li>
                                {% endif %}
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              {% if messages %}
                    <div class="alert alert-success">
                        <div class="messages">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="container">
                    {% block content %} {% endblock %}
                </div>
                           

   
    
    <footer>
        <div class="container">
            <p>Created by Noelle</p>
            
        </div>
    </footer>

{% endblock %}