certifi==2019.3.9
chardet==3.0.4
colorama==0.2.5
Django==1.11
django-forms-bootstrap==3.1.0
html5lib==0.999
idna==2.8
Pillow==5.4.1
pipenv==2018.11.26
pytz==2018.9
requests==2.21.0
six==1.5.2
stripe==2.24.1
typing==3.6.6
urllib3==1.24.1
virtualenv==16.4.3
virtualenv-clone==0.5.2
