footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.accountform {
    padding: 4%;
    width: 50%;
    margin: 50px auto;
}

.background-image{
    background-image: url("../img/poly.jpg");
    background-position: center;
    min-height: 100vh;
    height:100%;
    background-size: 100% auto;
    
}

.background-white{
    background:white;
}

.navbar-text-bold{
    font-weight: bolder;
    color:gold!important;
}

.selected {
    font-weight: bolder;
    color:gold!important;
}
