<section class="container">

  <h1>Features</h1>
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseFeatures"
    aria-expanded="false" aria-controls="collapseFeatures">
  </button>

  <div class="row row-flex collapse" id="collapseFeatures">

    {% for feature in features %}
    {% if feature.status == 'Todo'%}
    <div class="card border-danger mb-3" style="margin:1%">
      {% elif feature.status == 'Pending'%}
      <div class="card border-warning mb-3" style="margin:1%">
        {% elif feature.status == 'Completed'%}
        <div class="card border-success mb-3" style="margin:1%">
          {% endif %}
          <div class="feature" style="background-image: url('{{ MEDIA_URL }}{{ features.image }}')"></div>
          {% if feature.status == 'Todo'%}
          <div class="card-header bg-danger">
            {% elif feature.status == 'Pending'%}
            <div class="card-header bg-warning">
              {% elif feature.status == 'Completed'%}
              <div class="card-header bg-success">
                {% endif %}
                <h3 class="text-white">Status: {{ feature.status }}</h3>
              </div>
              <div class="card-body">
                <h3 class="card-text">{{ feature.title }}</h3>
                <p class="card-text">{{ feature.description }}</p>

                <a class="btn btn-primary" href="{% url 'one_feature' feature.id%}" role="button">Comment</a>
                <a class="btn btn-primary" href="#" role="button">Vote</a>
              </div>
            </div>

            {% endfor %}
          </div>
</section>
 