{% extends "base.html" %}
{% block content %}
<div class="background-image">
<section class="container-fluid">
    <div class="row justify-content-md-center centralize">
        <div class="col col-4">
            <h1>Welcome {{ user.username }} </h1>
            <a class="btn btn-primary" href="{% url 'add_features' %}" role="button">Add Feature</a>
            <a class="btn btn-primary" href="{% url 'add_bugs' %}" role="button">Add Bug</a>
        </div>
    </div>

    {% include 'partials/_feature.html' %}
    {% include 'partials/_bug.html' %}
</section>
</div>
{% endblock %}