
{% extends 'base.html' %}
{% block content %}

<div class="background-image">
    <section class="container background-white" style="padding-top: 8%">
        <center>
        <h3>Community</h3>
        <div class="row">
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 offset-2">
                <canvas id="pie" width="400" height="400"></canvas>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <canvas id="bar" width="400" height="400"></canvas>
                </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <h3>How to add a feature</h3>
            <p>
                Sign up to become a member of our community to get involved<br>
                Let us know your feature and add it, then we will check it out and see what we think, comment and vote
            </p>
        </div>
        </center>
    </section>
</div>
{% endblock %}