{% extends 'base.html' %}

{% block content %}
<!-- Masthead -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Let's help you fix your issues!</h1>
          {% if user.is_authenticated %}
          <a href="{% url 'profile' %}" class="btn btn-outline btn-xl js-scroll-trigger">
            Welcome back. Get to your profile!
          </a>
          {% else %}
          <a href="{% url 'login' %}?next={% url 'profile' %}" class="btn btn-outline btn-xl js-scroll-trigger">
            Start Now for Free!
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}